<div class="container">
  <p>Hello from homepage</p>
  <%= link_to 'Set Alert', new_price_alert_path, class: 'btn btn-dark' %>
  <p>Your Price Alerts</p>
  <%= link_to 'History', price_alerts_path, class: 'btn btn-dark' %>
</div>
